* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

img {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 20px 10px black;
    transition: 0.2s;
}